---
layout: default
single: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	{% include article.html %}
    <br/>
    <p class="meta">
    <span class="byline author vcard">Posted by <span class="fn">Sun ▪ </span></span>
        {% include post/date.html %}{{ time }}
    <span class="categories"> ▪ {% include post/categories.html %}</span>
    </p>
</article>
{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}